/* Main CSS File with all Index CSS */


/*Fonts */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

body {
    font-family: 'Ubuntu', Courier;
    background-color: rgb(7, 8, 26);

}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

.main-container {
    max-width: 2000px;
    margin-right: auto;
    margin-left: auto;
}

.intro-text {
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
}

.category-name {
    color: white;
    text-align: center;
}

.second-container {
    min-height: 600px;
    max-width: 2000px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    background-color: #0C0E27;
}
.blog-posts {
    margin-left: auto;
    margin-right: auto;
}

.card {
    max-width: 600px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
    height: auto;
    border: none;
    width: auto;
}

.card-body {
    background-color: #07081A;
    border: none;
    max-width: 600px;

}

.card-title {
    color: #543A9B;
}

.card-text {
    margin-top: -10px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

@media (min-width: 1600px) {

    .card {
        margin-left: 40px;
        margin-right: 40px;
        height: auto;
        border: none;
    }

}

@media (min-width: 1400px) {

    .card {
        margin-left: 20px;
        margin-right: 20px;
        height: auto;
        border: none;
    }

}